/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  margin-left: 10rem;
  margin-right: 10rem ;
  background-color: #e2b6b6;
  color: #000;
  text-align: center;
  align-items: center;
  
  
}

.header {
  margin-right: 0rem;
  text-align: center;
  background-color: #ecc9c9;
  color: #fff;
  padding: 0.5rem;
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  width: 100%; 
}


.navbar a {
  font-size: 18px;
  color: rgb(19, 18, 18);
  text-decoration: none;
  margin-left: 10px;
  margin-top: 2rem;
  padding-top: 2rem;
}

.logo {
  width: 150px;
  margin: 0 auto;
  float: left;
  height: 150px;
  
  
}


.title { 
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 0;
  width: 100%;
  background-color: #ecc9c9;
  color: #fff;

}
.subtitle {
  margin-top: 12rem;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 0;
  width: 100%;
  height: 100px;
  
  color: #fff;
  
}
.heroimage {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  height: 100%;
  width: 100%;
  margin-left: 0rem;
  margin-right: 0rem;

  
}

.herotitle {
  padding-top: 4rem;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1rem;
  text-align: center;
  color: rgb(130, 79, 96);
}
.herosection {
  width: 100%;
  
  background-color: #e2b6b6;
  color: #fff;
  margin-top: 6rem;
  text-align: left;
  padding-top: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2em;
  font-size: medium;
  
}
.herotext {
  padding-top: 2rem;
  text-align: center;
  line-height: 2rem;
  padding-left: 1rem;
  font-size: 20px;
  
}

.romancesection {

  width: 100%;
  
  background-color: #e2b6b6;
  color: #fff;
  margin-top: 10rem;
  text-align: left;
  padding-top: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2em;
  font-size: medium;

}

.romancetitle {
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  font-size: 2em;
  font-weight: bold;
  border-radius: 1rem;
  text-align: center;
  font-size: 50px;
  color: rgb(130, 79, 96);
}

.romanceimage {
  
  padding-left: 1cqw;
  padding-right: 1rem;
  margin-top: 1rem;
  height: 400px;
  width: 300px;
  align-items: left;
  float: left;
  
}
.romancetext {
  padding-left: 1rem;
  margin-top: 1rem;
  margin-right: 4rem;
  margin-left: 1cqmin;
  font-size: 20px;
  line-height: 2rem;
  float: left
  
  
  
  p
  
  
}

button {
  padding: 10px 24px; 
  margin-left: auto;
  background-color: #f86d6d;
  border-radius: 2rem;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}

.warsection {

  width: 100%;
  
  background-color: #e2b6b6;
  color: #fff;
  margin-top: 8rem;
  text-align: left;
  padding-top: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2em;
  font-size: medium;

}

.wartitle {
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  font-size: 2em;
  font-weight: bold;
  border-radius: 1rem;
  text-align: center;
  font-size: 50px;
  color: rgb(130, 79, 96);
}

.warimage {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  height: 400px;
  width: 300px;
  align-items: left;
  float: left;
  
}
.wartext {
  margin-top: 1rem;
  font-size: 20px;
  line-height: 2rem;
  float: left
  
  p
  
  
}

.documentarysection {

  width: 100%;
  
  background-color: #e2b6b6;
  color: #fff;
  margin-top: 8rem;
  text-align: left;
  padding-top: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2em;
  font-size: medium;

}

.documentarytitle {
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  font-size: 2em;
  font-weight: bold;
  border-radius: 1rem;
  text-align: center;
  font-size: 50px;
  color: rgb(130, 79, 96);
}

.documentaryimage {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  height: 400px;
  width: 300px;
  align-items: left;
  float: left;
  
}
.documentarytext {
  margin-top: 1rem;
  font-size: 20px;
  line-height: 2rem;
  float: left
  
  p
  
  
}

.cta {
  background-color: rgb(249, 237, 237);
  border-radius: 1rem;
  margin-top: 5rem;
  margin-left: 2rem;
}
.feedback {
  text-align: left;
  padding-left: 1rem;
  padding-top: 2rem;
  color: #a16363;
}

.ctadescription {
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(135, 130, 130);
}
.formclass {
  text-align: left;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  color: rgb(135, 130, 130);
  
}
.textbox {
  width: 610px;
  height: 50px;
  margin-bottom: 0.2rem;
}

.submit {
  background-color: #f86d6d;
  border-radius: 1rem;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 16rem;
  width: 100px;
}